@font-face {
	font-family: "Liberation Sans";
	src: local("Liberation Sans"), local("Liberation Sans Regular"), url("../res/font/LiberationSans-Regular.ttf");
	font-weight: normal;
}

html {
	font-family: "Liberation Sans", "Arial", sans-serif;
	font-size: 1.05em;
	text-align: center;
	background-color: #F5F6F7;
	color: #444C5C;
}
body {
	margin: 1em auto;
	text-align: left;
}
#header, #footer {
	margin: 1em 0;
	text-align: center;
}
#header h1 {
	line-height: 85%;
}
#header ul {
	margin: 0.5em 0 0 0;
	padding: 0;
	list-style-type: none;
}
#header ul li {
	display: inline;
	margin: 0 0.5em;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.1em;
	font-weight: bold;
	line-height: 115%;
}
h1 {
	font-size: 2.75em;
}
a:link, a:visited {
	margin-bottom: 0.15em;
	border-width: 0.05em;
	border-bottom-style: solid;
	text-decoration: none;
	border-color: #444C5C;
	color: #444C5C;
}
a:hover, a:active {
	margin-bottom: 0em;
	border-width: 0.2em;
	border-bottom-style: solid;
	border-color: #7785A1;
	color: #7785A1;
}
p, li, th, td {
	line-height: 150%;
}
p, table {
	margin: 1.25em 0;
}
ul, ol {
	padding: 0 0 0 1.25em;
}
ul {
	list-style-type: disc;
}
hr {
	border-width: 1px;
	border-style: solid;
	margin: 1em 0;
}
hr, table, tr, td, th, pre, blockquote {
	border-color: #DADBDD; /*#444C5C alpha 25% on #F5F6F7*/
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
}

@media screen and (max-width: 900px) {
	body {
		width: 90%;
	}
}
@media screen and (min-width: 900px) {
	body {
		width: 810px;
	}
}

